<div class="section bg-primary-1 cta-2 wf-section">
      <div class="container-default w-container">
        <div class="cta-2-wrapper">
          <h2 data-w-id="0ab757a8-512e-d984-34db-15d63635f8ae" class="title neutral-100 cta-2">{{ texts.-106d4b8c }}</h2>
          <div data-w-id="0ab757a8-512e-d984-34db-15d63635f8b0" class="_2-buttons cta-2">
            <a data-w-id="0ab757a8-512e-d984-34db-15d63635f8b1" href="{{ links.-43ca08ee }}" class="button-primary button-white cta-2 w-inline-block">
              <div class="cta-2-button-primary-text">{{ texts.55a22e65 }}</div>
              <div class="cta-2-button-primary-arrow">{{ texts.e807 }}</div>
            </a>
            <a data-w-id="0ab757a8-512e-d984-34db-15d63635f8b8" href="{{ links.-702349 }}" class="button-secondary button-white cta-2 w-inline-block">
              <div class="cta-2-button-secondary-text">{{ texts.31fd4e3c }}</div>
              <div class="cta-2-button-secondary-icon">{{ texts.e807 }}</div>
            </a>
          </div><img src="{{ images.4c6b9b6f.url }}" data-w-id="0ab757a8-512e-d984-34db-15d63635f8bf" alt="{{ images.4c6b9b6f.alt }}" class="bg cta-2-shape-2">
          <div data-w-id="0ab757a8-512e-d984-34db-15d63635f8c0" class="bg cta-2-shape-1"></div><img src="{{ images.4d18470e.url }}" data-w-id="0ab757a8-512e-d984-34db-15d63635f8c1" alt="{{ images.4d18470e.alt }}" class="bg cta-2-shape-3">
          <div data-w-id="0ab757a8-512e-d984-34db-15d63635f8c2" class="bg cta-2-shape-4"></div>
        </div>
      </div>
    </div>