<footer class="footer-small">
    <div class="container-default w-container">
      <div data-w-id="ca746cde-8e9a-d3cb-2be0-de264b33bc2d" class="footer-content-bottom">
        <div class="footer-small-print">{{ texts.318803b0 }}<strong>{{ texts.-1ddfc95f }}</strong><span class="highlight"><strong>{{ texts.4c87f5b }}</strong></span>{{ texts.226c04a }}<a href="{{ links.7f16b0b1 }}" target="_blank" class="link-neutral-800">{{ texts.14a92214 }}</a>{{ texts.28bd7fcd }}</div>
        <div class="footer-social-media-wrapper">
          <a href="{{ links.6c4279f0 }}" target="_blank" class="footer-social-media-link">{{ texts.e808 }}</a>
          <a href="{{ links.636eb9b8 }}" target="_blank" class="footer-social-media-link icon-13px">{{ texts.e809 }}</a>
          <a href="{{ links.b979dd0 }}" target="_blank" class="footer-social-media-link">{{ texts.e80c }}</a>
          <a href="{{ links.6e47a6b8 }}" target="_blank" class="footer-social-media-link icon-15px">{{ texts.e80b }}</a>
          <a href="{{ links.-13da2d81 }}" target="_blank" class="footer-social-media-link icon-13px">{{ texts.e800 }}</a>
          <a href="{{ links.-2d31f971 }}" target="_blank" class="footer-social-media-link icon-13px">{{ texts.e801 }}</a>
          <a href="{{ links.6ff0aa4 }}" target="_blank" class="footer-social-media-link">{{ texts.e802 }}</a>
        </div>
      </div>
    </div>
  </footer>