<footer class="footer">
      <div class="container-default w-container">
        <div class="footer-content-top">
          <a href="{{ links.23 }}" class="footer-logo-container w-inline-block"><img src="{{ images.417d6ca6.url }}" alt="{{ images.417d6ca6.alt }}" class="footer-logo"></a>
          <div class="_2-buttons">
            <a href="{{ links.-702349 }}" class="button-primary _2-buttons-button w-button">{{ texts.789e74cb }}</a>
            <a href="{{ links.58732b8a }}" class="button-secondary _2-buttons-button w-button">{{ texts.-6fe58dbf }}</a>
          </div>
        </div>
        <div class="divider footer-content-bottom-divider"></div>
        <div data-w-id="c87e86cc-55f9-10a0-58c6-8bebd2db9d27" class="footer-content-bottom">
          <div class="footer-small-print">{{ texts.318803b0 }}<strong>{{ texts.-1ddfc95f }}</strong><span class="highlight"><strong>{{ texts.4c87f5b }}</strong></span>{{ texts.226c04a }}<a href="{{ links.23 }}" target="_blank" class="link-neutral-800">{{ texts.14a92214 }}</a>{{ texts.8744 }}<a href="{{ links.52e68d74 }}">{{ texts.-910fa3b }}</a>{{ texts.8744 }}<a href="{{ links.75942035 }}">{{ texts.-3fbde6f6 }}</a>
          </div>
          <div class="footer-social-media-wrapper">
            <a href="{{ links.6c4279f0 }}" target="_blank" class="footer-social-media-link">{{ texts.e808 }}</a>
            <a href="{{ links.636eb9b8 }}" target="_blank" class="footer-social-media-link icon-13px">{{ texts.e809 }}</a>
            <a href="{{ links.b979dd0 }}" target="_blank" class="footer-social-media-link">{{ texts.e80c }}</a>
            <a href="{{ links.6e47a6b8 }}" target="_blank" class="footer-social-media-link icon-15px">{{ texts.e80b }}</a>
            <a href="{{ links.-13da2d81 }}" target="_blank" class="footer-social-media-link icon-13px">{{ texts.e800 }}</a>
            <a href="{{ links.-2d31f971 }}" target="_blank" class="footer-social-media-link icon-13px">{{ texts.e801 }}</a>
            <a href="{{ links.6ff0aa4 }}" target="_blank" class="footer-social-media-link">{{ texts.e802 }}</a>
          </div>
        </div>
      </div>
    </footer>