<div data-animation="over-left" class="header w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" data-w-id="58db7844-5919-d71b-dd74-2323ed8dffe9" role="banner" data-duration="400">
    <div class="container-default w-container">
      <div class="header-wrapper">
        <div data-w-id="02b293cc-fd03-8c39-78c3-dfe63557a722" class="split-content header-right">
          <a href="{{ links.2f }}" class="brand w-nav-brand"><img src="{{ images.417d6ca6.url }}" alt="{{ images.417d6ca6.alt }}" class="header-logo"></a>
        </div>
        <div data-w-id="78f63fc2-9930-89fb-7433-4c85d37c65a8" class="split-content header-left">
          <nav role="navigation" data-w-id="58db7844-5919-d71b-dd74-2323ed8dffed" class="nav-menu hide w-nav-menu">
            <ul role="list" class="header-navigation">
              <li class="nav-item-wrapper hide">
                <a href="{{ links.23 }}" class="nav-link">{{ texts.7397cc93 }}</a>
              </li>
              <li class="nav-item-wrapper hide">
                <a href="{{ links.23 }}" class="nav-link">{{ texts.3c2336d }}</a>
              </li>
              <li class="nav-item-wrapper">
                <a href="{{ links.-702349 }}" class="nav-link">{{ texts.507137a6 }}</a>
              </li>
              <li class="nav-item-wrapper hide">
                <div data-hover="true" data-delay="0" data-w-id="d0e237c9-deb9-b521-8b7c-6dc1cf9be943" class="nav-link-dropdown w-dropdown">
                  <div class="nav-link dropdown w-dropdown-toggle">
                    <div>{{ texts.3353baa4 }}<span class="dropdown-arrow">{{ texts.e806 }}</span></div>
                  </div>
                  <nav class="dropdown-list w-dropdown-list">
                    <div class="dropdown-nav-main-wrapper">
                      <div class="dropdown-nav-pages-wrapper">
                        <div class="title dropdown-nav-title">{{ texts.24897f }}</div>
                        <div class="dropdown-nav-content">
                          <ul role="list" class="dropdown-nav">
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.-5ba6faa4 }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.2f }}" class="dropdown-nav-link">{{ texts.-5ba6faa3 }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.-5ba6faa2 }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.645efc2e }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.645efc2f }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.645efc30 }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.558d7e14 }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.79a02307 }}" class="dropdown-nav-link">{{ texts.-1c1ae40c }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.17b01a6 }}" class="dropdown-nav-link">{{ texts.63e819aa }}</a>
                            </li>
                          </ul>
                          <ul role="list" class="dropdown-nav">
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.61f22fb9 }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.61f22fba }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.61f22fbb }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.4f7e8f7f }}" class="dropdown-nav-link">{{ texts.-51dc9da2 }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.-d78b7a3 }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.560f747e }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.27b67d }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.-58564090 }}" class="dropdown-nav-link">{{ texts.-353eae43 }}</a>
                            </li>
                          </ul>
                          <ul role="list" class="dropdown-nav">
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.-7bc27f6b }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.54598175 }}" class="dropdown-nav-link">{{ texts.-15f989ad }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.274f16 }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.-1b8c5058 }}" class="dropdown-nav-link">{{ texts.709084b2 }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.-702349 }}" class="dropdown-nav-link">{{ texts.507137a6 }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.-64104400 }}</a>
                            </li>
                          </ul>
                          <ul role="list" class="dropdown-nav last"></ul>
                        </div>
                      </div>
                      <div class="dropdown-2-columns">
                        <div class="dropdown-nav-pages-wrapper">
                          <div class="title dropdown-nav-title">{{ texts.16cf503b }}</div>
                          <div class="dropdown-nav-content">
                            <ul role="list" class="dropdown-nav last">
                              <li class="dropdown-nav-item">
                                <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.79da78f4 }}</a>
                              </li>
                              <li class="dropdown-nav-item">
                                <a href="{{ links.-2706fc01 }}" class="dropdown-nav-link">{{ texts.36ab1513 }}</a>
                              </li>
                              <li class="dropdown-nav-item">
                                <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.ccc773a }}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="dropdown-nav-pages-wrapper inside">
                          <div class="title dropdown-nav-title">{{ texts.-131aec30 }}</div>
                          <div class="dropdown-nav-content">
                            <ul role="list" class="dropdown-nav last">
                              <li class="dropdown-nav-item">
                                <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.109b6f09 }}</a>
                              </li>
                              <li class="dropdown-nav-item">
                                <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.-204ff998 }}</a>
                              </li>
                              <li class="dropdown-nav-item">
                                <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.-1aa15508 }}</a>
                              </li>
                              <li class="dropdown-nav-item">
                                <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.-1b2d8a04 }}</a>
                              </li>
                              <li class="dropdown-nav-item">
                                <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.4f912d2b }}</a>
                              </li>
                              <li class="dropdown-nav-item">
                                <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.ccc773a }}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="dropdown-nav-pages-wrapper last">
                        <div class="title dropdown-nav-title">{{ texts.a20e89e }}</div>
                        <div class="dropdown-nav-content">
                          <ul role="list" class="dropdown-nav last">
                            <li class="dropdown-nav-item">
                              <a href="{{ links.-65198afb }}" class="dropdown-nav-link">{{ texts.1607a2cd }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.-65198afe }}" class="dropdown-nav-link">{{ texts.-74401f97 }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.37fa6872 }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.-7aba473 }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.1581b92e }}</a>
                            </li>
                            <li class="dropdown-nav-item">
                              <a href="{{ links.23 }}" class="dropdown-nav-link">{{ texts.-31d02e8c }}</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </nav>
                </div>
              </li>
              <li class="nav-item-wrapper hide">
                <a href="{{ links.23 }}" class="nav-link">{{ texts.1fa3c2 }}</a>
              </li>
              <li class="nav-item-wrapper header-button-mobile">
                <a href="{{ links.23 }}" class="button-primary header-button mobile w-button">{{ texts.667a5d97 }}</a>
              </li>
            </ul>
          </nav>
          <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper hide">
            <a href="{{ links.23 }}" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink cart-button hide w-inline-block">
              <div class="w-inline-block">{{ texts.3ddf960 }}<span class="accent-text-primary-1">{{ texts.28 }}</span></div>
              <div class="w-commerce-commercecartopenlinkcount cart-quantity">{{ item_count }}</div>
              <div class="accent-text-primary-1">{{ texts.29 }}</div>
            </a>
            <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightSidebar cart-wrapper">
              <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container">
                <div class="w-commerce-commercecartheader cart-header">
                  <h4 class="w-commerce-commercecartheading">{{ texts.-77ee8913 }}</h4>
                  <a href="{{ links.23 }}" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink cart-close-button w-inline-block"><svg width="16px" height="16px" viewBox="0 0 16 16">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g fill-rule="nonzero" fill="#333333">
                          <polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon>
                        </g>
                      </g>
                    </svg></a>
                </div>
                <div class="w-commerce-commercecartformwrapper">
                  <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
                    <script type="text/x-wf-template" id="wf-template-86d01ae5-f4f5-e0fe-d623-45a4fc1f5cf4"><div data-node-type="cart-item" class="cart-item w-commerce-commercecartitem"><div class="cart-item-wrapper"><a data-node-type="link" class="image-wrapper cart-item-image" datawhref="<%= it.product.slug%>"><img data-node-type="cart-item-image" class="image cart-item-image w-commerce-commercecartitemimage" data-sizes="[{"max":10000,"size":"100vw"}]" src="<%= it.image %>"></a><div data-node-type="cart-item-info" class="cart-item-content w-commerce-commercecartiteminfo"><a data-node-type="link" class="title cart-item-title" datawhref="<%= it.product.slug%>"><%= it.product.name%></a><div class="cart-item-price"><%= it.price%></div><ul class="w-commerce-commercecartoptionlist"><% Object.entries(it.options).forEach( data =>  { %><li data-node-type="cart-option-list-item"><span data-node-type="cart-option-list-item-label"><%= it.name%></span><span>: </span><span data-node-type="cart-option-list-item-value" class="cart-item-result"><%= it.value%></span></li><% }) %></ul><a data-node-type="cart-remove-link" class="remove-button" href="#" data-product-id="<%= it.uniqueId %>"><div>Remove</div></a></div></div><input class="w-commerce-commercecartquantity input cart-item-quantity" name="<%= it.uniqueId %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"></div></script>
                    <div class="w-commerce-commercecartlist cart-list" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-86d01ae5-f4f5-e0fe-d623-45a4fc1f5cf4"></div>
                    <div class="w-commerce-commercecartfooter cart-footer">
                      <div class="w-commerce-commercecartlineitem cart-line-item">
                        <div>{{ texts.-76f396dc }}</div>
                        <div class="w-commerce-commercecartordervalue cart-subtotal">{{ items_subtotal_price | money }}</div>
                      </div>
                      <div>
                        
                        <a href="{{ links.5032f721 }}" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton button-primary full-width cart" data-loading-text="Hang Tight...">{{ texts.-7941186e }}</a>
                      </div>
                    </div>
                  </form>
                  <div class="w-commerce-commercecartemptystate empty-state cart">
                    <div>{{ texts.3d503d2b }}</div>
                    <a href="{{ links.23 }}" class="button-primary cart-empty-state w-button">{{ texts.-421a519d }}</a>
                  </div>
                  <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate error-message">
                    <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Cart failed.">{{ texts.-1c765d0d }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="{{ links.-702349 }}" class="button-primary header-button right-16-mg w-button">{{ texts.789e74cb }}</a>
          <a href="{{ links.7932a89d }}" class="button-secondary header-button w-button">{{ texts.6fad1562 }}</a>
          <div class="menu-button w-nav-button">
            <div class="header-menu-button-icon-wrapper">
              <div class="icon-wrapper">
                <div class="header-menu-button-icon-top"></div>
                <div class="header-menu-button-icon-medium"></div>
                <div class="header-menu-button-icon-bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>